<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FER | Facial AI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class = "container">
    <div class = "starter-template">
        <h1>Face Expression Detection</h1>
        <p class = "lead"> Try uploading an image to see if a face is detected </p>
        <p> Face Expression Detection using TensorFlow</p>
        <p> Image size limit: 2 MB </p>
        <p> By Pradyumna Krishna © 2020 </p>
    </div>
</div>

<header class="navbar">
    <form action="/FER" method="post" enctype="multipart/form-data" >
        <div align="center">
            <label class="btn btn-default btn-file">
                Browse <input type="file" name="image" style="display: none;" autocomplete="off" required>
            </label>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </div>
    </form>
</header>

<div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="margin-top:18px;">
                    <strong>{{ message }}</strong>
                </div>
                {% if category == 'success' %}
                    <div>
                        <img src=" {{ image_to_show }}">
                    </div>
                {% endif %}
            {% endfor %}
         {% endif %}
    {% endwith %}
</div>

</body>
</html>

